<h1>URDB: Your Ultimate Movie DataBase</h1>

<ul>
  <% @movies.each do |movie| %>
    <li><%= link_to movie.title, movie_url(movie.id) %></li>
  <% end %>
</ul>
<br />
<p>This is how I feel. Because I'm a web developer and not an f'n chemist!!!! </p>
<%= image_tag 'http://gifrific.com/wp-content/uploads/2012/04/cookie-monster-cookies-surprise.gif' %>