
<h1> <%= @movie.title %><br /> </h1>

<iframe width='560' height='315' src='//www.youtube.com/embed/<%= @movie.youtube_id %>' frameborder='0' allowfullscreen></iframe>

<br />
<br />
<%= @movie.description %>



